In [1]:
# import pandas
import pandas as pd
# load data
data = pd.read_csv('customer_shopping_behavior.csv')

In [2]:
data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df=data

In [4]:
# missing values in data
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [5]:
# lower case column names and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [6]:
# Check for missing values
df.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount_(usd)      0
location                   0
size                       0
color                      0
season                     0
review_rating             37
subscription_status        0
shipping_type              0
discount_applied           0
promo_code_used            0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
dtype: int64

In [7]:
# in purchase_amount_(usd) remove the _(usd) part from the column name
df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'}, inplace=True)

In [8]:
# check the column names
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [9]:
# now replace missing values in review_rating with the median but with the median of each category of category column and also show the median of category column first then replace missing values
df['review_rating'] = df.groupby('category')['review_rating'].transform(lambda x: x.fillna(x.median()))
df['review_rating'].isnull().sum()
# show the median of category column
df.groupby('category')['review_rating'].median()

category
Accessories    3.8
Clothing       3.7
Footwear       3.8
Outerwear      3.8
Name: review_rating, dtype: float64

In [10]:
# create a column age_group
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.cut(df['age'], bins=[17, 30, 40, 50, 100], labels=labels)

In [11]:
df[['age', 'age_group']].head()

   age    age_group
0   55       Senior
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged

In [12]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [13]:
# create column purchase_frequecny_days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Biweekly': 14,
    'Monthly': 30,
    'quarterly': 90,
    'Every 3 Months': 90,
    'Annually': 365
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [14]:
df[['frequency_of_purchases', 'purchase_frequency_days']].head()

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                     14.0
1            Fortnightly                     14.0
2                 Weekly                      7.0
3                 Weekly                      7.0
4               Annually                    365.0

In [15]:
df[['frequency_of_purchases', 'purchase_frequency_days']].head()

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                     14.0
1            Fortnightly                     14.0
2                 Weekly                      7.0
3                 Weekly                      7.0
4               Annually                    365.0

In [16]:
# number of nan values in purchase_frequency_days
df['purchase_frequency_days'].isnull().sum()
print('The number of NaN values in purchase_frequency_days is:', df['purchase_frequency_days'].isnull().sum())
# total number of values in the purchase_frequency_days column
total_values = len(df['purchase_frequency_days'])
print('The total number of values in purchase_frequency_days is:', total_values)
# percentage of nan values in purchase_frequency_days
percentage_nan = (df['purchase_frequency_days'].isnull().sum() / total_values) * 100
print('The percentage of NaN values in purchase_frequency_days is:', percentage_nan)

The number of NaN values in purchase_frequency_days is: 1110
The total number of values in purchase_frequency_days is: 3900
The percentage of NaN values in purchase_frequency_days is: 28.46153846153846

In [17]:
# datatype of purchase_frequency_days
df['purchase_frequency_days'].dtype

dtype('float64')

In [18]:
# unique values in purchase_frequency_days
df['purchase_frequency_days'].unique()

array([ 14.,   7., 365.,  nan,  30.,  90.])

In [19]:
# number of nan values in frequency_of_purchases
df['frequency_of_purchases'].isnull().sum()
print('The number of NaN values in frequency_of_purchases is:', df['frequency_of_purchases'].isnull().sum())
# total number of values in the frequency_of_purchases column
total_values = len(df['frequency_of_purchases'])
print('The total number of values in frequency_of_purchases is:', total_values)
# percentage of nan values in frequency_of_purchases
percentage_nan = (df['frequency_of_purchases'].isnull().sum() / total_values) * 100
print('The percentage of NaN values in frequency_of_purchases is:', percentage_nan)

The number of NaN values in frequency_of_purchases is: 0
The total number of values in frequency_of_purchases is: 3900
The percentage of NaN values in frequency_of_purchases is: 0.0

In [20]:
# promo_code_used and discount_applied columns
df[['promo_code_used', 'discount_applied']].head(20)

   promo_code_used discount_applied
0              Yes              Yes
1              Yes              Yes
2              Yes              Yes
3              Yes              Yes
4              Yes              Yes
5              Yes              Yes
6              Yes              Yes
7              Yes              Yes
8              Yes              Yes
9              Yes              Yes
10             Yes              Yes
11             Yes              Yes
12             Yes              Yes
13             Yes              Yes
14             Yes              Yes
15             Yes              Yes
16             Yes              Yes
17             Yes              Yes
18             Yes              Yes
19             Yes              Yes

In [21]:
# delete promo_code_used column
df = df.drop('promo_code_used', axis=1)

In [22]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [23]:
import psycopg2
print(psycopg2.__version__)

2.9.11 (dt dec pq3 ext lo64)

In [24]:
import psycopg2
from sqlalchemy import create_engine

# Database connection details
db_params = {
    'dbname': 'Customer_shopping_behavior',
    'user': 'postgres',
    'password': 'Whitelion728@',
    'host': '127.0.0.1',
    'port': '5432'
}

# Connect and create SQLAlchemy engine
conn = psycopg2.connect(**db_params)
engine = create_engine('postgresql+psycopg2://', creator=lambda: conn)

# Write DataFrame to PostgreSQL
df.to_sql('customer', engine, if_exists='replace', index=False)

print("✅ Data successfully written!")

✅ Data successfully written!

In [25]:
import pandas as pd

query = "SELECT * FROM customer LIMIT 5;"  # fetch first 5 rows
df_check = pd.read_sql(query, engine)
print(df_check)

   customer_id  age gender item_purchased  category  purchase_amount  \
0            1   55   Male         Blouse  Clothing               53
1            2   19   Male        Sweater  Clothing               64
2            3   50   Male          Jeans  Clothing               73
3            4   21   Male        Sandals  Footwear               90
4            5   45   Male         Blouse  Clothing               49

        location size      color  season  review_rating subscription_status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   shipping_type discount_applied  previous_purchases payment_method  \
0        Express              Yes                  14          Venmo
1        Express              Yes                   2           Cash
2  Free Shipping              Yes                  23    Credit Card
3   Next Day Air              Yes                  49         PayPal
4  Free Shipping              Yes                  31         PayPal

  frequency_of_purchases    age_group  purchase_frequency_days
0            Fortnightly       Senior                     14.0
1            Fortnightly  Young Adult                     14.0
2                 Weekly  Middle-aged                      7.0
3                 Weekly  Young Adult                      7.0
4               Annually  Middle-aged                    365.0